html,
body {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  color: #293D99;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

.page-header {
  padding: 8px 0;
  background: #fff;
  border-bottom: 1px solid rgb(212, 209, 209);
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo img {
  max-height: 30px;
}

/* nav */
.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: inline-block;
  margin-left: 1.4rem;
}

.nav-links {
  text-decoration: none;
  color: #293D99;
  font-size: 1.6rem;
}

.nav-links:hover {
  border-bottom: 1px solid #293D99
}

/* main-section */

.main-section-container {
  display: flex;
}

.left-aside {
  padding-top: 40px;
  height: calc(100vh - 51px);
  width: 15%;
  border-right: 1px solid rgb(212, 209, 209);
}

.main-content {
  padding: 40px 0 0 40px;
  width: 80%;
}

/* left-aside */

/* main content */

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-card {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ced4da;
  width: 290px;
  height: 290px;
  padding: 20px;
}

.change-border-color {
  border-color: #ced4da;
  animation-name: border;
  animation-duration: 3s;
}

@keyframes border {
  from {
    border-color: 2px solid #ced4da;
  }

  to {
    border: 2px solid #dc3545;
  }
}

.user-card-heading {
  margin: 0;
  color: #241F21;
  text-transform: capitalize;
}

.user__footer {
  display: flex;
  justify-content: space-between;
}

/* util classes */

.btn {
  font-family: 'Helvetica Neue', sans-serif;
  border: none;
  border: 1px solid #ccc;
  text-transform: capitalize;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
  font-size: .9em;
  font-weight: normal;
  border-radius: 5px;
  padding: 0 15px;
  min-width: 120px;
  cursor: pointer;
  font-weight: 400;
  outline: 0;
}

.bg-grey {
  color: rgb(44, 43, 43);
}

.btn-primary {
  color: #293D99;
  border-color: #293D99;
  background-color: #fff;
}

.bg-primary {
  background-color: #293D99;
  color: #fff;
}

.btn-primary:hover {
  background: #293D99;
  color: #fff;
}

.bg-primary:hover {
  background: rgb(8, 26, 105);
}

.btn-danger {
  border-color: #dc3545;
}

.btn-danger:hover {
  background: #dc3545;
  color: #fff;
}

.btn-info {
  border-color: #ffc107;
}

.btn-info:hover {
  background: #ffc107;
  color: #fff;
}

.user__status span {
  background: #ccc;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.small-text {
  font-size: 16px;
}

/* create user modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* close Button */
.close {
  color: #aaaaaa;
  display: block;
  font-size: 28px;
  font-weight: bold;
  display: block;
  align-self: flex-end;
  margin: -10px 0 0 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal form */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  color: #241F21;
  margin-top: 0;
}

.input-group {
  margin-bottom: 12px;
}

.input-control {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
}

.input-control:focus {
  border-color: #293D99;
}

.input-control-radio {
  cursor: pointer;
}

.label-title {
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
}

.label {
  padding-right: 10px;
  color: rgba(36, 31, 33, 0.835);
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
}

.user-status-container,
.user-role-container {
  margin-bottom: 30px;
}

.btn-primary--full-width {
  width: 100%;
}

.error {
  color: #dc3545;
  font-size: 14px;
  text-align: center;
  padding-bottom: 15px;
  border: 1px solid #dc3545;
  line-height: 40px;
  height: 40px;
  margin: 12px 0;
  border-radius: 5px;
  display: none;
}

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background: #47cf73;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 17px;
  white-space: nowrap;
}

.desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

/* toast notification */
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px
  }

  to {
    min-width: 350px
  }
}

@keyframes expand {
  from {
    min-width: 50px
  }

  to {
    min-width: 350px
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px
  }

  to {
    min-width: 350px
  }
}

@keyframes stay {
  from {
    min-width: 350px
  }

  to {
    min-width: 350px
  }
}

@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }

  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }

  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 60px;
    opacity: 0;
  }
}